.hero {
  position: relative;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 68px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: 'Inter', sans-serif;

  @media (max-width: 62em) {
    font-size: 42px;
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: 24px;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));

  @media (max-width: 62em) {
    font-size: 18px;
  }
}

.highlight {
  color: var(--mantine-color-icon-filled);
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: 62em) {
    width: 100%;
  }
}

.content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
} 